<!DOCTYPE html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/style.css">
<script>
function myFunction() {
  var x = document.getElementById("myLinks");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}
</script>
<!-- Top Navigation Menu -->
<div class="topnav">
  <a href="#home" class="active">Video Stream</a>
  <!-- Navigation links (hidden by default) -->
  <div id="myLinks">
    <a href="login.html">Login</a>
    <a href="register.html">Registration</a>
    <a href="#about">About Us</a>
  </div>
  <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

</html>